.meals {
    max-width: 60rem;
    width: 95%;
    padding: 20px 0 ;
    margin: 0 auto;
}
.meals ul {
    list-style:  none;
    text-align: left;
}
.bump {
    transform: translateY(100px);
    animation: bump .8s ease-out forwards;
}
@keyframes bump {

    100% { 
        transform: translateY(0);
    }

}