.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #892b06;
    margin-bottom: 14px;
}
.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
}
.price {
    margin-right: 30px;
    font-weight: bold;
    color: #892b06;
    font-size: 15px;
}
.amount {
    padding: 2px 6px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    transform: translateY(-4px);
}
.btns {
    background: #FFF;
    border: 2px solid #892b06;
    color: #892b06;
    /* padding: 2px 7px; */
    margin-left: 10px;
    outline: none;
    border-radius: 7px;
    width: 30px;
    height: 23px;
    text-align: center;
    line-height: 15px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
.btns:hover {
    background-color: #892b06;
    color: #FFF;
}